<div class="flex justify-center space-x-10">
    <div class="w-full h-full bg-red-50 rounded-lg my-8 py-4 px-6">
        <div class="flex justify-end items-end space-x-2">
            <button class="flex items-center text-sm space-x-2 border-2 py-2 px-2 rounded-lg text-gray-500">
                <fa-icon [icon]="faFilter"></fa-icon>
                <span>Filter</span>
            </button>
    
            <input class="flex items-center text-sm space-x-2 border-2 py-2 px-2 rounded-lg" placeholder="Search hire"/>
        </div>
    
        <div class="mt-10">
            <div class="mt-6">
                <div class="overflow-x-auto relative">
                  <table
                    class="w-full text-sm text-left text-gray-500 dark:text-gray-400"
                  >
                    <thead
                      class="text-xs text-gray-700 uppercase bg-gray-300 dark:bg-gray-700 dark:text-gray-400"
                    >
                      <tr>
                        <th scope="col" class="py-3 px-6">Product Name</th>
                        <th scope="col" class="py-3 px-6">Price</th>
                        <th scope="col" class="py-3 px-6">Category</th>
                        <th scope="col" class="py-3 px-6">Status</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr
                        class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"
                        *ngFor="let transaction of transactions"
                      >
                        <td
                          scope="row"
                          class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white"
                        >
                          {{transaction.product_name}}
                        </td>
                        <td class="py-4 px-6">
                          Rp{{formatPrices(transaction.price)}}
                        </td>
                        <td class="py-4 px-6">{{transaction.category}}</td>
                        <td class="py-4 px-6">{{transaction.status}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
        </div>
    </div>
    
</div>
