<div class="m-1">
    <div class="mb-8">
        <a routerLink='/main-dashboard' class="flex text-slate-500 hover:w-44 hover:h-12 hover:py-3 hover:px-4 hover:rounded-lg hover:bg-violet-900 hover:text-white">
            <fa-icon [icon]="faHome"></fa-icon>
            <h3 class="ml-3 tracking-tight">Dashboard</h3>
        </a>
    </div>

    <div  class="mb-8">
        <a routerLink='/main-transaction' class="flex text-slate-500 hover:w-44 hover:h-12 hover:py-3 hover:px-4 hover:rounded-lg hover:bg-violet-900 hover:text-white">
            <fa-icon [icon]="faFile"></fa-icon>
            <h3 class="ml-4 tracking-tight">Transaction</h3>
        </a>
    </div>

    <div  class="mb-8">
        <a routerLink='/main-product' class="flex text-slate-500 hover:w-44 hover:h-12 hover:py-3 hover:px-4 hover:rounded-lg hover:bg-violet-900 hover:text-white">
            <fa-icon [icon]="faShop"></fa-icon>
            <h3 class="ml-4 tracking-tight">Product</h3>
        </a>
    </div>

    <div  class="mb-8">
        <a href="" class="flex text-slate-500 hover:w-44 hover:h-12 hover:py-3 hover:px-4 hover:rounded-lg hover:bg-violet-900 hover:text-white">
            <fa-icon [icon]="faUser"></fa-icon>
            <h3 class="ml-4 tracking-tight">Account</h3>
        </a>
    </div>

    <div  class="mb-8">
        <a href="" class="flex text-slate-500 hover:w-44 hover:h-12 hover:py-3 hover:px-4 hover:rounded-lg hover:bg-violet-900 hover:text-white">
            <fa-icon [icon]="faGear"></fa-icon>
            <h3 class="ml-4 tracking-tight">Setting</h3>
        </a>
    </div>
</div>
